.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 280px;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 60px 280px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 70px;
    margin-right: 70px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 214px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 214px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 52px;
    margin-right: 52px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 161px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 161px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 101px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 101px;
  }
}